<div class="send-email-container">
  <h1>Email Successfully Sent!</h1>
  <p>The email was successfully sent to <span style="color: #e09e00;"><%= recipientEmail %></span>.</p>
  <a href="/">Go Back</a>
</div>
  