* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 12px 20px;
  text-align: left;
}

.header-brand {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.header h1 {
  color: #244189;
}

.banner {
  padding: 1.5rem 0;
}
.rental {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* max-width: 400px; */
  max-width: 1000px;
  margin: 0 auto;
}
h2 {
  font-size: 1.5rem;
  text-align: center;
  /* margin-bottom: 20px; */
  color: #333;
}

.rentalTab {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
select.form-control {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  color: #333;
  cursor: pointer;
  width: 100%;
  appearance: none;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB...'); /* SVG for dropdown arrow */
  background-repeat: no-repeat;
  background-position: right 10px center;
}
select.form-control:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.btn-search {
  background-color: #ffb400;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  text-align: center;
}
.btn-search :hover {
  background-color: #e09e00;
}

/* Desktop View */
@media (min-width: 768px) {
  /* max-width: 1000px; */

  .rentalTab {
    flex-direction: row;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
  }
  .trip-type {
    display: flex;
    gap: 10px;
    flex-grow: 1;
  }
  label {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  input[type='radio'] {
    transform: scale(1.2);
    margin-right: 5px;
  }

  span {
    font-size: 0.9rem;
    color: #333;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 200px;
  }
  select.form-control {
    width: 100%;
  }

  .checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.9rem;
    flex-grow: 1;
  }

  .btn-search {
    flex-grow: 1;
    max-width: 150px;
    margin-left: auto;
  }
}
